<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd">

    <http use-expressions="true" auto-config="false">

        <!-- https://www.baeldung.com/spring-security-granted-authority-vs-role -->
        <intercept-url pattern="/home" access="isAuthenticated()" requires-channel="any"/>
        <intercept-url pattern="/login*" access="permitAll()" requires-channel="any"/>
        <!--<intercept-url pattern="/admin*" access="hasAuthority('admin')" requires-channel="any"/>-->
        <intercept-url pattern="/admin*" access="hasRole('ROLE_ADMIN')" requires-channel="any"/>

        <form-login
                login-page='/loginAdmin'
                login-processing-url="/loginAdminProcess"
                username-parameter="username"
                password-parameter="password"
                always-use-default-target="true"
                default-target-url="/home"
                authentication-failure-url="/login?error=true"
                authentication-success-handler-ref="authenticationSuccessHandler"
                authentication-failure-handler-ref="authenticationFailureHandler"
        />

        <logout
                logout-url="/logout"
                invalidate-session="true"
                success-handler-ref="logoutSuccessHandler"
                delete-cookies="JSESSIONID"
        />
        <csrf disabled="true" />
    </http>

    <authentication-manager>
        <authentication-provider ref="authenticationProvider" />
    </authentication-manager>

    <beans:bean id="authenticationProvider" class="com.tnn.study.spring.security.authen.AuthenticationProviderCustom"/>
    <beans:bean id="authenticationSuccessHandler" class="com.tnn.study.spring.security.authen.AuthenticationSuccessHandlerCustom" />
    <beans:bean id="authenticationFailureHandler" class="com.tnn.study.spring.security.authen.AuthenticationFailureHandlerCustom" />
    <beans:bean id="logoutSuccessHandler" class="com.tnn.study.spring.security.authen.LogoutSuccessHandlerCustom" />
</beans:beans>