<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd">

    <http use-expressions="true">
        <intercept-url pattern="/login*" access="isAnonymous()" requires-channel="any"/>
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" requires-channel="any"/>

        <form-login
                login-processing-url="/loginProcess"
                username-parameter="username"
                password-parameter="password"
                default-target-url="/home"
                always-use-default-target="true"
                login-page='/login'
                authentication-failure-url="/login?error=true"
                authentication-success-handler-ref="authenticationSuccessHandler"
                authentication-failure-handler-ref="authenticationFailureHandler"
        />

        <logout
                logout-url="/logout"
                logout-success-url="/login"
                invalidate-session="true"
                success-handler-ref="logoutSuccessHandler"
                delete-cookies="JSESSIONID"
        />

        <!-- Do note, <csrf disabled="true" /> element tells the Spring Security Filter to intercept the /logout link as a HTTP GET request. -->
        <csrf disabled="true" />
        <!--<cors ref="corsFilter" />-->
    </http>

    <authentication-manager>
        <authentication-provider ref="authenticationProvider" />
    </authentication-manager>

    <beans:bean id="authenticationProvider" class="com.tnn.study.spring.security.authen.AuthenticationProviderCustom"/>
    <beans:bean id="authenticationSuccessHandler" class="com.tnn.study.spring.security.authen.AuthenticationSuccessHandlerCustom" />
    <beans:bean id="authenticationFailureHandler" class="com.tnn.study.spring.security.authen.AuthenticationFailureHandlerCustom" />
    <beans:bean id="logoutSuccessHandler" class="com.tnn.study.spring.security.authen.LogoutSuccessHandlerCustom" />
</beans:beans>